{{ partial "header.html" . }}

	<main role="main">
		<h1 class="list-title">{{ .Title }}</h1>

(( {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
<a class="colored-link" href="{{ "/tags/" }}{{ $name | urlize }}.html">{{ $name }}</a>
{{ end }} ))

{{ range .Data.Pages }}
		<article itemscope itemtype="http://schema.org/Blog">
			<b><h2 class="entry-title" itemprop="headline"><a href="{{ .RelPermalink }}">{{ .Title }}{{ if .Draft }} (Черновик){{ end }}</a></h2></b>
			<span class="entry-meta"><time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Day }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}</time></span>
		</article>
{{ end }}
	</main>


{{ partial "footer.html" . }}
