{{ partial "header.html" . }}

	<main role="main">
		<article itemscope itemtype="http://schema.org/BlogPosting">
			<h1 class="entry-title" itemprop="headline">{{ .Title }}</h1>
			<br>
			{{ if .Params.showthedate }}
			<span class="entry-meta"><time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Day }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}</time></span>
			{{ end }}
			<section itemprop="entry-text">
				{{ .Content }}
			</section>
			<section itemprop="entry-text">
				Метки: 
				{{ range .Params.tags }}
				  <a style="font-size: 1.2em;" href="/tags/{{ . }}.html">{{ . }}</a>
				{{ end }}
			</section>
		</article>
	</main>

{{ partial "footer.html" . }}
