<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Сергей Бронников" />
<!-- <link href="" rel="alternate" title="Сергей Бронников" type="application/atom+xml" /> -->
   <meta name="readability-verification" content=""/>
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Сергей Броников</a>
    <a class="extra" href="/">home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Сергей Бронников<br />
        estetus@gmail.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://twitter.com/estet">twitter.com/estet</a><br />
        <a href="http://www.bronevichok.ru">www.bronevichok.ru</a>
      </p>
    </div>
<!--
    <div class="rss">
      <a href="">RSS</a>
    </div>
-->
  </div>
</div>

<!-- Google Analytics -->
<!-- Google Analytics end -->

</body>
</html>
