---
layout: default
title: Сергей Бронников - Блог
---

<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>

<div class="post">
{{ content }}
<ul class="posts">
	{% for post in site.posts limit:6 %}
	<li>
	<span>{{ post.date | date_to_string }}</span> &raquo;
	<a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
	</li>
	{% endfor %}
</ul>
<div class="yashare-auto-init" data-yashareL10n="ru"
data-yashareQuickServices="vkontakte,facebook,twitter,gplus"
data-yashareTheme="counter"></div>
</div>
